/*reset básico*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/*estilo do menu*/
nav ul {
  list-style-type: none;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

nav ul li{
  display:inline;
  margin-right: 20px;
}

nav ul li a{
  color: #00FF00;
  text-decoration: none;
  font-weight: bold;
}

/*estilo do banner*/
.banner {
  width: 100%;
  height: auto;
}

/*estilo do vídeo*/
.video{
  text-align: center;
  margin: 20px 0;
}

.video h2{
  margin-bottom: 10px;
}

/*estilo das colunas*/
.colunas{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.coluna {
  width: 45%;
  padding: 15px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

/* Container do Carrossel */
.carrossel-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
}

/* Slides */
.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease;
}

/* Cada Slide */
.carrossel-slide {
  width: 80%;
  flex-shrink: 0;
  display: none; /* Oculta os slides inicialmente */
}

.carrossel-slide img {
  width: 40%;
  height: 89%;
  display: block;
}

/* Exibe o Slide Ativo */
#slide1:checked ~ .slides #img1 { display: block; }
#slide2:checked ~ .slides #img2 { display: block; }
#slide3:checked ~ .slides #img3 { display: block; }

/* Navegação */
.navegacao {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

/* Botões de Navegação */
.nav-btn {
  width: 15px;
  height: 15px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#slide1:checked ~ .navegacao label[for="slide1"],
#slide2:checked ~ .navegacao label[for="slide2"],
#slide3:checked ~ .navegacao label[for="slide3"] {
  background-color: #333;
}


/*estilo do rodapé*/
footer {
  background-color: #333;
  color: #00FF00;
  text-align: center;
  padding: 20px;
}

footer p{
  margin: 5px 0;
}

